body {
    background-image: url(/img-acrilicas/Acrílicas\ piedra\ por\ piedra.jpg);
    background-repeat: repeat-x;
}
/** stylos de el menu principal */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: block;
}
a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #110f0f;
    background-color: #923636;
}

a:hover {
    background-color: #ddd;
}
nav.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.menu li {
    display: block;
}

nav.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
}

nav.menu a:hover {
    background-color: #ddd;
}
/* hasta aqui no funciona el puto navegador chueco */
/* hasta aqui no funciona el puto navegador chueco */






/** estilos header  */
.container-fluid {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    padding: 50px; /* Ajusta el padding para el espacio alrededor de la imagen y el botón */
}

.rounded-circle {
    max-width: 200px; /* Ajusta el tamaño máximo de la imagen */
}
.container-fluid {
    background-image: url('../img-semi/ojodegatosemi.jpg'); /* Imagen de fondo opcional */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}
/* *  estilos inicio */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .gallery img {
    width: calc(33% - 20px); /* Ajusta el ancho según el número de columnas y el espacio entre ellas */
    margin-bottom: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  .gallery img:hover {
    transform: scale(1.05);
  }
  /* galeria videos */
  .video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  video {
    width: calc(33% - 20px);
    height: 200px; /* Ajusta la altura según tus necesidades */
  }
  
   /** stilos car de productos */
   .img-manicuras {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: 100px;

    border-radius: 50%; /* Crea el borde circular */
  }
  #productos-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color:  #50af70;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 0.3s ease;
}

 #productos-card img {
    max-width: 100%;
    height: auto;
}

 #productos-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

 #productos-card .precio {
    font-weight: bold;
    color: #007bff;
}

 #productos-card p {
    font-size: 14px;
    text-align: justify;
  }
  #productos-card:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
transform: translateY(-5px);
}

/** estilos de contacto  */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;  

    border-radius: 4px;
    cursor: pointer;
}
.boton-llamada, .boton-whatsapp {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .boton-llamada {
    background-color: #3498db;
    border-radius: 50%;
    background-image: url('icono-telefono.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
  }
  
  .boton-whatsapp {
    background-color: #25d366;
    border-radius: 10px;
    background-image: url('icono-whatsapp.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
  }




/** stilos footer */
#footer {
    background-image: url('../img-semi/Semi.jpg'); /* Imagen de fondo opcional */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    color: black;
}

   

/** Estilos nosotros */
    .video-nosotros {
         display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        border-radius: 10px;
        top: 0;
        left: 0;
  
    }
    .servicios img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        border: 5px solid #410404;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }